[Unit]
Description=Run Battery Monitor

[Service]
Type=simple
ExecStart=$HOME/bin/bat.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target

